*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    overflow-x:hidden;
    font-family:poppins;

}
:root{
    --main-color:#314352;
    --sec-color:#f0f0f0;
}
main, section, body{
    width:100vw;
    background:var(--main-color);
    color:var(--sec-color);
    position:relative;

}

.hero-section{
    height:100vh;
    display:flex;
    align-items:center;
    justify-content:center;
    flex-wrap:wrap;
    flex-direction: column;
}

.hero-section > .main-header{
    width:100%;
    height:40%;
    display:flex;
    align-items: flex-end;
    justify-content:center;
    font-size:3rem;
    text-align:center;
}
.hero-section>.action-btns-cnt {
    width:100%;
    height:25%;
    display:flex;
    align-items: flex-start;
    justify-content:center;
    gap:30px;
    padding-top:20px;
    /* font-size:3rem; */
}
.action-btn{
    background:var(--sec-color);
    display:inline-block;
    padding:4px 8px;
    text-align:center;
    text-decoration:none;
    color:var(--main-color);
    border:double 6px var(--main-color);
    transition:all .5s;
}

.action-btn:hover {
    background: transparent;
    display: inline-block;
    padding: 4px 8px;
    /* text-decoration: none; */
    text-align:center;
    color: var(--sec-color);
    border: double 6px var(--sec-color);
}

.hero-action-btn{
    height:30%;
    width:100px;
    display:grid;
    place-items:center;
}

.signup-section{
    height:100vh;
    display:grid;
    place-items:center;

    
}

.signup-section .form-cnt{
    width:clamp(300px,80%, 400px);
    height:70%;
    text-align:center;
    display:flex;
    align-items:center;
    /* flex-wrap:wrap; */
}

.form-cnt .form-header{
    width:100%;
    /* height:30px; */
    padding:8px 10px;
    text-align:center;
    text-transform:uppercase;
    font-size:2rem;
}
.form-cnt input{
    width:80%;
    height:40px;
    margin:4px 0px;
}

.form-noti{
    position:fixed;
    top: 10px;
    left: 10px;
    padding:5px 10px;
    background:rgb(11, 116, 11);
}

.top-action{
    background:var(--sec-color);
    position:fixed;
    top:20px;
    right:20px;
    z-index:1000;
}

.welcome_panel{
    padding:95px 0 025px 0;

}

.welcome_panel h6{
    color:var(--sec-color);
    width:100%;
    text-align:center;
    padding:4px;

}
.welcome_panel h1{
    color:var(--sec-color);
    width:100%;
    text-align:center;
    padding:4px;
    font-size:3rem;

}

.links_panel{
    padding:10px 0px;
    text-align:center;

}

.link_panel{
    width:80%;
    background:var(--sec-color);
    height:55px;
    display:inline-flex;
    border:double 9px var(--main-color);
    text-align:left;
}
.link_panel a{
    display:inline-block;
    width:70%;
    height:100%;
    padding:0px 6px;
    text-decoration:underline;
    display:flex;
    align-items:center;
    color:var(--main-color);
    word-break:keep-all;
    overflow:hidden;
}
.link_panel button{
    display:inline-block;
    width:30%;
    height:100%;
    /* padding:0px 6px; */
    /* text-decoration:underline; */
    display:grid;
    place-items:center;
    color:var(--sec-color);
    background:var(--main-color);
    position:relative;
    overflow:hidden;

}

.link_panel button .click_effeect {
    display: inline-block;
    width: 0.2px;
    height: 0.2px;
    /* padding: 0px 6px; */
    /* text-decoration:underline; */
    border-radius:50%;
    position: absolute;
    top: -100%;
    left: 0;
    opacity: 0.5;
    background: var(--sec-color);
    transition: all 0.5s;

}
.link_panel button:active .click_effeect {
    display: inline-block;
    width: 100%;
    height: 200%;
    border-radius: 50% ;

}

#messages{
   height:calc(100vh - 358px);
   overflow-y:scroll; 
   gap:100px;
}

#messages .message_box{
    width:100%;
    padding:15px;
    border:1px solid var(--sec-color);
    margin:10px 0px;
}

.floating_message{
    position:fixed;
    width:250px;
    padding:10px 5px;
    background:var(--sec-color);
    opacity:0.5;
    bottom:100px;
    left:calc(50vw - 125px);
    color: var(--main-color);
    text-align:center;
}