<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="http://localhost/currencynet/bootstrap/css/bootstrap.min.css" />
    <script src="http://localhost/currencynet/bootstrap/js/bootstrap.min.js"></script>
    <script src="http://localhost/currencynet/scripts/jquery-3.6.0.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <title>message <%= locals.r_username %> anonyimously</title>
</head>

<body>
    <div class="container">
        <br />
        <div class="jumbotron">
            <h1 class="display-4">Send Message</h1>

            <br />

            <!-- <input type="text" placeholder="Name" id="name" class="form-control"> -->
            <br />
            <textarea type="text" placeholder="message" id="message" class="form-control"></textarea>
            <br />
            <button class="btn btn-success" id="send">Send</button>
            <span id="errormessage">Hello</span>
        </div>
        <br />
        <div id="messages">
            &#39
        </div>
    </div>
    <script>
        var socket = io()

        $(() => {
            $("#send").click(() => {
                if($("#message").val().length > 70) {
                    console.log('message too long')
                    document.querySelector('#errormessage').innerHTML = 'message too long';
                    return;
                }
                // errormessage
                var message = {
                    receiver: <%= locals.r_pid || `${locals.r_username}` %>,
                    message: $("#message").val()
                    // sender: <%= locals.s_pid || "null" %>
                }
                // addMessage({name:"Me", message:"This is me "})
                postMessages(message)
            })
            // getMessages()
        })


        const addMessage = (messages) => {
            $("#messages").append(`<h4> ${messages?.name} </h4> <p> ${messages?.message} </p>`);
        }

        
        const postMessages = (message) => {
            $.post('/message/send', message, (err) => {
                    $("#name").val(""),
                    $("#message").val("")
                    console.log(err)
                    if(err !== null) document.querySelector('#errormessage').innerHTML = 'sent';
            })
        }
    </script>
</body>

</html>